<footer>
  <div class="navbar">
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'SALES', sales_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'NEW', new_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Bestsellers', bestsellers_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Cleansers', cleansers_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Moisturizers', moisturizers_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Masks', masks_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Eye Care', eye_care_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Face Mists', face_mists_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Makeup Removers', makeup_removers_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Sunscreen', sunscreen_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Skin Tools', skin_tools_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Treatments & Serums', treatments_serums_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Sets', sets_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'Mini Sized', mini_sized_path %></a></h6>
    </div>
  </div>
  <div class="is-vcentered" id="to_top">
    <a href="#"><p class="footer-item"><b>Back to Top</b></p></a>
  </div>
  <div class="is-flex" id="footer">
    <p class="footer-item">ExoLit Co. EST 2022</p>
    <p class="footer-item">Alina Bozynski WEBD-3011</p>
  </div>
</footer>