<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <div class="is-flex">
        <h1 class="header-item title is-1 pr-3"><a href='/'>ExoLit Co.🫧 </a><span class="title is-3"><%= request.original_url.match?(/http?:\/\/localhost\:3000\/[\w]+/) ? "⟫ ".concat(local_assigns[:page]) : '' %></span></h1>
        <form action="/search" class="search header-item is-flex">
            <input type="text" placeholder="Search the Entire Store! (Searches through product names and descriptions.)" name="product_name">
            <span><%= collection_select(:product, :category, Category.all.select(:name).distinct, :name, :name, prompt: 'Search in a Category') %></span>
            <button type="submit">Search</button>
        </form>
        <% if local_assigns[:page] != "About Us & Contact Info" %>
            <p class="header-item"><a href='/about&contact'>About Us/Contact</a></p>
        <% end %>
        <p class="header-item"><a href='/about'>Login</a></p>
        <h3 class="header-item title is-3 cart-icon">🛒</h3>
    </div>

    <div class="navbar">
        <div class="navbar-item">
            <h6 class="title is-6"><a><%= link_to 'Bestsellers', bestsellers_path %></a></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Cleansers', cleansers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Moisturizers', moisturizers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Masks', masks_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Eye Care', eye_care_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Face Mists', face_mists_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Makeup Removers', makeup_removers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Sunscreen', sunscreen_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Skin Tools', skin_tools_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Treatments & Serums', treatments_serums_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Sets', sets_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Mini Sized', mini_sized_path %></h6>
        </div>
    </div>
</header>