<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <div class="is-flex">
        <h1 class="header-item title is-1 pr-3"><a><%= link_to 'ExoLit Co.🫧', '/' %></a></h1>
        <form action="/search" class="search header-item is-flex">
            <input type="text" placeholder="Search the Entire Store!" name="product_name">
            <button type="submit">Search</button>
        </form>
        <p class="header-item">Login</p>
        <h3 class="header-item title is-3 cart-icon">🛒</h3>
    </div>
    <div>
        <h5 class="container title is-5"><%= request.original_url == "http://localhost:3000/*" ? '⫸ Makeup' : '' %></h5>
    </div>

    <div class="navbar">
        <div class="navbar-item">
            <h6 class="title is-6"><a><%= link_to 'Bestsellers', bestsellers_path %></a></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Cleansers', cleansers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Moisturizers', moisturizers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Masks', masks_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Eye Care', eye_care_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Face Mists', face_mists_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Makeup Removers', makeup_removers_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Sunscreen', sunscreen_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Skin Tools', skin_tools_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Treatments & Serums', treatments_serums_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Sets', sets_path %></h6>
        </div>
        <div class="navbar-item">
            <h6 class="title is-6"><%= link_to 'Mini Sized', mini_sized_path %></h6>
        </div>
    </div>
</header>