<div class="products">
	<section class="is-flex">
			<% @products.each do |product| %>
				<div class="product">
					<h4 class="title is-4"><%= product.created_at >= DateTime.now-3.days ? 'NEW! ' : '' %></h4>
					<h4 class="name title is-4"><a><%= link_to product.name, product_path(product.id) %></a></h4>
					<h5 class="title is-5"><%= product.on_sale == true ? 'ON SALE!' : '' %></h5>
					<% if product.image.attached? %>
						<p><%= image_tag(url_for(product.image), style: 'height:20vw;width:18vw') %></p>
					<% end %>
					<p><b><%= product.price %></b></p>
					<p><%= truncate(product.details, :length => 100) %></p>
					<div class="cart-buttons">
						<% if @cart.map {|p| p['id'].to_i}.include? product.id %>
							<p>This product is in your cart.</p>
							<p><%= button_to 'Remove from Cart', remove_from_cart_path(product.id), method: :delete %></p>
							<p class="add"><%= button_to 'Add Another!', add_to_cart_path(product.id), method: :post %></p>
						<% else %>
							<p class="add"><%= button_to 'Add to Cart', add_to_cart_path(product.id), method: :post %></p>
						<% end %>
					</div>
				</div>
			<% end %>
	</section>
	<div class="container">
		<%= paginate @products %>
	</div>
</div>