<%= render 'components/header', page: 'Cart'  %>
<div class="container">
  <% if @cart.empty? %>
    <h4 class="title is-5">No products in your cart.</h4>
  <% else %>
    <% @cart.each do |item| %>
      <% product = Product.find(item['id']) %>
      <div class="cart-item">
        <ul>
          <li><%= link_to product.name, product_path(product.id) %></li>
          <li><%= product.on_sale == true ? 'ON SALE' : '' %> in <%= product.category.name.concat('s') %></li>
          <% if product.image.attached? %>
            <li><%= image_tag(url_for(product.image), style: 'height:20vw;width:18vw') %></li>
          <% end %>
          <li><%= product.price %></li>
          <li>Current Quantity: <%= item['quantity'] %>
            <%= form_with url: change_quantity_path, local: true, method: :post do %>
              <%= hidden_field_tag "id", item['id'] %>
              <%= number_field_tag "quantity", item['quantity'], min: 0 %>
              <%= submit_tag "Change Quantity" %>
            <% end %>
          </li>
          <li>
            <details>
              <summary>Details</summary>
              <p><%= product.details %></p>
            </details>
          </li>
          <li><%= button_to 'Remove from Cart', remove_from_cart_path(product.id), method: :delete %></li>
        </ul>
      </div>
    <% end %>
    <hr style="background-color:white">
    <%= button_to 'Checkout', '#' %>
  <% end %>
</div>
<%= render :partial => 'components/footer' %>