<%= render 'components/header', page: 'New Products' %>
<div class="products">
	<div class="container">
		<h2 class="title is-2">New Products</h2>
	</div>
	<section class="is-flex">
			<% @products.each do |product| %>
				<div class="product">
					<h4 class="title is-4"><%= product.on_sale == true ? 'ON SALE!' : '' %></h4>
					<span class="category">
						<%= link_to product.category.name,
							product.category.name == 'Eye Care' ? eye_care_path :
							product.category.name == 'Face Mist' ? face_mists_path :
							product.category.name == 'Makeup Remover' ? makeup_removers_path :
							product.category.name == 'Mini Size' ? mini_sized_path :
							product.category.name == 'Skin Tool' ? skin_tools_path :
							product.category.name == 'Sunscreen' ? sunscreen_path :
							product.category.name == 'Treatment & Serum' ? treatments_serums_path :
							product.category.name.downcase.concat('s')
						%>
					</span>
					<h4 class="name title is-4"><%= link_to product.name, product_path(product.id) %></h4>
					<% if product.image.attached? %>
						<p><%= image_tag(url_for(product.image), style: 'height:20vw;width:18vw') %></p>
					<% end %>
					<p><b><%= product.price %></b></p>
					<p><%= truncate(product.details, :length => 100) %></p>
					<div class="cart-buttons">
						<% if @cart.map {|p| p['id'].to_i}.include? product.id %>
							<p>This product is in your cart.</p>
							<p><%= button_to 'Remove from Cart', remove_from_cart_path(product.id), method: :delete %></p>
							<p class="add"><%= button_to 'Add Another!', add_to_cart_path(product.id), method: :post %></p>
						<% else %>
							<p class="add"><%= button_to 'Add to Cart', add_to_cart_path(product.id), method: :post %></p>
						<% end %>
					</div>
				</div>
			<% end %>
	</section>
	<div class="container">
		<%= paginate @products %>
	</div>
</div>
<%= render :partial => 'components/footer' %>