<h1><%= @product.name %></h1>
<% if @product.on_sale == true %>
  <h2>ON SALE!!!</h2>
<% end %>
<% if @product.new == true %>
  <h2>NEW!</h2>
<% end %>
<ul>
  <li>Name: <%= @product.name %></li>
  <li>Category: <%= @product.category.name %></li>
  <li>Details: <%= @product.details %></li>
  <li>
    <% if @product.on_sale == false %>
      Price:
    <% else %>
      Sale Price:
    <% end %>
    <%= @product.price %>
  </li>
</ul>