<h1><%= @product.title %></h1>
<ul>
  <li>Name: <%= @product.title %></li>
  <li>Category: <%= @product.category.name %></li>
  <li>Details: <%= @product.details %></li>
  <li>Price: <%= @product.price %></li>
  <li>On Sale: <%= @product.on_sale %></li>
  <li>New: <%= @product.new %></li>
</ul>