<%= render 'components/header', page: @product.category.name %>
<div class="container products">
  <section>
    <p class="category">
      <a>
        <%= link_to @product.category.name,
          @product.category.name == 'Eye Care' ? eye_care_path :
          @product.category.name == 'Face Mist' ? face_mists_path :
          @product.category.name == 'Makeup Remover' ? makeup_removers_path :
          @product.category.name == 'Mini Size' ? mini_sized_path :
          @product.category.name == 'Skin Tool' ? skin_tools_path :
          @product.category.name == 'Sunscreen' ? sunscreen_path :
          @product.category.name == 'Treatment & Serum' ? treatments_serums_path :
          '/' + @product.category.name.downcase.concat('s')
        %>
      </a>
    </p>
    <h2 class="title is-2"><%= @product.name %></h2>
  </section>
  <section>
    <% if @product.on_sale == true %>
      <h2 id="sale">ON SALE!!!</h2>
    <% end %>
    <% if @product.created_at >= DateTime.now-3.days %>
      <h2 id="new">NEW!</h2>
    <% end %>
    <% if @product.image.attached? %>
			<p><%= image_tag(@product.image, style: 'height:30vw;width:28vw') %></p>
		<% end %>
      <p>
        <b>
          <%= @product.on_sale == true ? 'Sale Price: ' : '' %>
          <%= @product.price %>
        </b>
      </p>
      <p><%= @product.details %></p>
					<div class="cart-buttons">
						<% if @cart.map {|p| p['id'].to_i}.include? @product.id %>
							<p id="message">This product is in your cart.</p>
							<p><%= button_to 'Remove from Cart', remove_from_cart_path(@product.id), method: :delete %></p>
							<p class="add"><%= button_to 'Add Another!', add_to_cart_path(@product.id), method: :post %></p>
						<% else %>
							<p class="add"><%= button_to 'Add to Cart', add_to_cart_path(@product.id), method: :post %></p>
						<% end %>
					</div>
  </section>
</div>
<%= render :partial => 'components/footer' %>