<%= render 'components/header', page: 'Cart'  %>
<div class="container">
  <h1>Thank you for your order, <%= Customer.find(session[:custo_id]).username %>!</h1>
  <h3>You paid <strong>$<%= number_with_precision(session[:amount].to_f / 100, :precision => 2) %></strong>!</h3>
  <%= @product_details %>
</div>
<%= render :partial => 'components/footer' %>